<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<header layout:fragment="header">
    <h2>Khoa CNTT - HUTECH</h2>
    <br>
    <h3>Header Contact</h3>
</header>
<article layout:fragment="content">
    <h1>Contact</h1>
    <p>Đây là trang contact của tôi</p>
</article>
<footer layout:fragment="footer">
    <p>Footer</p>
    <p>Bài tập ThymeLeaf - Phạm Minh Hiếu</p>
    <br>
    <h3>Footer Contact</h3>
</footer>
</body>
</html>